*.DS_Store
*.DS_Store?
*.ipynb_checkpoints/
**.__pycache__/
**.prev/
**.trees/
**.other/
**.GoogleNews-vectors-negative300.bin
**.GoogleNews-vectors-negative300.bin.gzs
**.stanford-corenlp-full-2018-10-05/

